@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  display: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
ul {
  display: inline-block;
}
ul li a {
  float: right;
  text-decoration: none;
  list-style-type: none;
  padding: 20px;
  color: black;
}

.hero {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 80vh;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
  list-style-type: none;
}
.clearfix {
  clear: both;
}
.hero {
  display: block;
}
.herocontent {
  float: right;
  width: 50%;
  padding: 110px 0;
  font-size: xx-large;
}
.herocontent p {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
}
.herocontent h1 {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(84, 84, 207);
}

/* p {
  color: black;
  display: inline;
  
  font-size: large;
}  */
/* h1 {
  float: right;
  padding-right: 50px;
} */

ul li a:hover {
  color: rgb(62, 62, 199);
  cursor: pointer;
}
.buton {
  position: absolute;
  top: 34%;
  left: 39%;
  transform: translate(50%, 50%);
  border-radius: 5px;
}
.right {
  padding: 20px 20px;
  background-color: rgb(62, 62, 220);
  margin: 4px 3px;
  border-radius: 10px;
  border-color: black;
  font-size: large;
}
.left {
  padding: 20px 20px;
  background-color: rgb(112, 230, 112);
  margin: 43px 30px;
  border-color: solid black;
  border-radius: 5px;
  font-size: large;
}
.shadow div {
  box-shadow: 0px 0px 2px 2px lightgray;
  width: 24%;
  float: left;
  margin-top: 45px;
  border-top: 5px;
  text-decoration: inline-block;
  border-top: 5px;
  height: 255px;
  text-align: center;
}
.plan {
  margin: 70px;
}
.image {
  margin-left: 70px;
}
.hill {
  margin-right: 100px;
}

.doctor {
  float: left;
  width: 45%;
}
.doc {
  float: right;
  width: 50%;
}
.one {
  font-size: 30px;
}
.clearfix {
  clear: both;
}
.click {
  padding: 22px 22px;
  background-color: #496bf2;
  margin: 18px 15px;
  border-radius: 5px;
  font-size: 20px;
}
.color {
  font-size: 50px;
}
.color-content {
  color: #496bf2;
  font-size: 20px;
}
.page {
  font-size: 25px;
  text-size-adjust: 2px;
}
.ment {
  color: #496bf2;
}
h5 {
  font-size: 40px;
  margin: 60px 0;
}
.testimonials {
  text-align: center;
  margin-bottom: 50px;
}

.pixels {
  text-align: center;
  font-size: 22px;
  width: 50%;
  margin: 0 auto;
}
.mint {
  color: #496bf2;
  font-size: 155%;
  width: 30%;
}
.dial {
  color: #496bf2;
}
.testimonial-circle {
  width: 20px;
  height: 20px;
  border: 90px;
  border-radius: 40px;
  margin: 20px;
  display: inline-block;
}
.blue {
  background-color: #496bf2;
}
.green {
  background-color: aqua;
}
.pile {
  padding-bottom: 30px;
}

.contact-form input,
textarea {
  border: none;
  padding: 20px;
  margin-top: 20px;
  width: 40%;
}

.person {
  position: absolute;
  padding-bottom: 150px;
}
.dive {
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
  height: 100vh;
}
.tile {
  margin-right: 20px;
}

.tear {
  background-color: #496bf2;
  width: 20%;
  border-radius: 5px;
  height: 50px;
  margin-top: 50px;
  float: left;
}
.clearfix {
  clear: both;
}
.position {
  text-align: center;
}
.pic {
  margin: 5px;
}
.footer-content {
  float: left;
  width: 25%;
  margin-top: 30px;
}
.list {
  font-size: 20px;
}
.module.footer-content.pole {
  margin-top: 30px;
  margin-right: 10px;
}
.clear {
  clear: both;
}
